@font-face {
  font-family: 'laundry';
  src:  url('fonts/laundry.eot?8lgib5');
  src:  url('fonts/laundry.eot?8lgib5#iefix') format('embedded-opentype'),
    url('fonts/laundry.ttf?8lgib5') format('truetype'),
    url('fonts/laundry.woff?8lgib5') format('woff'),
    url('fonts/laundry.svg?8lgib5#laundry') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'laundry' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e93b";
}
.icon-fax-machine:before {
  content: "\e93c";
}
.icon-iron:before {
  content: "\e93d";
}
.icon-ironing-board:before {
  content: "\e93e";
}
.icon-sewing-machine:before {
  content: "\e93f";
}
.icon-shoes:before {
  content: "\e940";
}
.icon-bright-lightbulb:before {
  content: "\e900";
}
.icon-tag-1:before {
  content: "\e901";
}
.icon-reading-book:before {
  content: "\e902";
}
.icon-quality:before {
  content: "\e903";
}
.icon-express-delivery:before {
  content: "\e904";
}
.icon-interface:before {
  content: "\e905";
}
.icon-telephone:before {
  content: "\e906";
}
.icon-clock:before {
  content: "\e907";
}
.icon-map-pointer:before {
  content: "\e908";
}
.icon-people:before {
  content: "\e909";
}
.icon-play:before {
  content: "\e90a";
}
.icon-search:before {
  content: "\e90b";
}
.icon-shirt:before {
  content: "\e90c";
}
.icon-bag:before {
  content: "\e90d";
}
.icon-towel:before {
  content: "\e90e";
}
.icon-star:before {
  content: "\e90f";
}
.icon-tag:before {
  content: "\e910";
}
.icon-electric-iron:before {
  content: "\e911";
}
.icon-technology:before {
  content: "\e912";
}
.icon-Laundry-detergent-free-icon-4:before {
  content: "\e913";
}
.icon-video:before {
  content: "\e914";
}
.icon-arrows:before {
  content: "\e915";
}
.icon-basic-tick:before {
  content: "\e916";
}
.icon-bag1:before {
  content: "\e917";
}
.icon-delivery-truck:before {
  content: "\e918";
}
.icon-tool:before {
  content: "\e919";
}
.icon-clothes-1:before {
  content: "\e91a";
}
.icon-clothes-2:before {
  content: "\e91b";
}
.icon-clothes-3:before {
  content: "\e91c";
}
.icon-clothes-4:before {
  content: "\e91d";
}
.icon-hand-wash:before {
  content: "\e91e";
}
.icon-hanger:before {
  content: "\e91f";
}
.icon-laundry:before {
  content: "\e920";
}
.icon-instagram-social-network-logo-of-photo-camera:before {
  content: "\e922";
}
.icon-linkedin-logo:before {
  content: "\e924";
}
.icon-twitter-logo-silhouette:before {
  content: "\e929";
}
.icon-facebook-logo:before {
  content: "\e925";
}
.icon-social:before {
  content: "\e926";
}
.icon-social-1:before {
  content: "\e927";
}
.icon-vimeo:before {
  content: "\e928";
}
.icon-left-arrow:before {
  content: "\e92a";
}
.icon-right-arrow:before {
  content: "\e92b";
}
.icon-pilesos:before {
  content: "\e92c";
}
.icon-hanger-with-clothes:before {
  content: "\e92d";
}
.icon-menu-button-of-three-horizontal-lines:before {
  content: "\e92e";
}
.icon-cancel-music:before {
  content: "\e92f";
}
.icon-customers:before {
  content: "\e930";
}
.icon-exit:before {
  content: "\e937";
}
.icon-university-campus:before {
  content: "\e936";
}
.icon-building:before {
  content: "\e931";
}
.icon-towel2:before {
  content: "\e932";
}
.icon-garbage:before {
  content: "\e933";
}
.icon-furniture:before {
  content: "\e934";
}
.icon-chat-bubble:before {
  content: "\e935";
}
.icon-today:before {
  content: "\e938";
}
.icon-angle-down:before {
  content: "\e921";
}
.icon-angle-up:before {
  content: "\e923";
}
.icon-bin:before {
  content: "\e939";
}
.icon-calendar:before {
  content: "\e93a";
}

.icon-arrow:before {
   content: "\e921";
}
.icon-arrow.opened:before {
    content: '\e923';
}